<div class="app-wrapper">
    <div id="restaurant-select">
        <div id="map"></div>
        <div id="search-results">
            <h3>Restaurants</h3>
            <ul id="restaurants"></ul>
            <button id="more">Load more results</button>
        </div>
    </div>
    <ul id="menu-item-select">
        Hello
    </ul>
</div>

<script src="/scripts/app.js"></script>
<script src={{ mapSource }} async></script>