<div class="app-wrapper">
    <div id="restaurant-select">
        <div id="map" class="map"></div>
        <div id="search-results">
            <h3>Restaurants</h3>
            <ul id="restaurants"></ul>
            <button id="more">Load more results</button>
            <br />
            <a href="/login" class="app-add-item" style={{hidePremiumControls}}>Add Restaurant...</a>
        </div>
    </div>
    <ul id="menu-item-select">
        Menu Items
    </ul>
</div>
<ul id="recipe-select">
    Recipes
</ul>

<script src="/scripts/app.js"></script>
<script src={{ mapSource }} async></script>