<div class="app-wrapper">
    <div id="restaurant-select">
        <div id="map"></div>
        <div id="search-results">
            <h3>Restaurants</h3>
            <ul id="restaurants"></ul>
            <button id="more">Load more results</button>
        </div>
    </div>
    <div id="recipes-select">
        Hello
    </div>
</div>

{{!-- <script src="/scripts/map.js"></script> --}}
<script src="/scripts/recipes.js"></script>
{{!-- <script src={{ mapSource }} async></script> --}}