<div class="container p-5 mb-4 mt-5 bg-light rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Recipe Thief</h1>
    <p class="col-md-8 fs-4">Find recipes from your local restaurants.</p>
    <a href="/signup" class="btn btn-primary btn-lg" role="button">Sign Up</a>
    </div>
</div>