<form method="POST">
    <p>Email:</p>
    <input type="text" name="username" />
    <p>Password:</p>
    <input type="password" name="password"/>
    <br />
    <button name="Submit">Submit</button>
</form>