<h1>{{username}}</h1>
<br />
<h2>Recipes</h2>

<br />
<br />
<form method="POST">
    <input type="submit" name="logout" value="Log Out" />
</form>
<br />
<h2>Restaurants</h2>
<br />
<a href="/app">App</a>
